.app-placeholder.s-16szcuy{background-color:var(--system-color-light);width:100%;height:100%;color:var(--system-color-dark);justify-content:center;align-items:center;display:flex}.content.s-16szcuy{text-align:center}
